# Set the WorkingDirectory, Environment and ExecStart values to match your environment.
# If using Debian/Ubuntu, mkdir and chown are located in /bin/mkdir and /bin/chown, respectively.
# If using Fedora/CentOS/Red Hat, mkdir and chown are located in /usr/bin/mkdir and /usr/bin/chown, respectively.

[Unit]
Description=Mediagoblin Celeryd

[Service]
User=mediagoblin
Group=mediagoblin
Type=simple
WorkingDirectory={{ goblin_home }}
# Create directory for PID (if needed) and set ownership
ExecStartPre=/bin/mkdir -p /var/run/mediagoblin /var/log/mediagoblin
ExecStartPre=/bin/chown -hR mediagoblin:mediagoblin /var/run/mediagoblin /var/log/mediagoblin
# Celery process will run as the `mediagoblin` user after start.
Environment=MEDIAGOBLIN_CONFIG={{ goblin_home }}/mediagoblin_local.ini \
            CELERY_CONFIG_MODULE=mediagoblin.init.celery.from_celery
ExecStart=/usr/local/bin/celery worker \
              --logfile=/var/log/mediagoblin/celery.log \
              --loglevel=INFO
PIDFile=/var/run/mediagoblin/mediagoblin-celeryd.pid

[Install]
WantedBy=multi-user.target
